/**
* Editor wrapper
*/
.codex-editor {
  position: relative;
  box-sizing: border-box;
  z-index: 1;

  .hide {
    display: none;
  }

  &__redactor {
    &--hidden {
      display: none;
    }

    /**
     * Workaround firefox bug: empty content editable elements has collapsed height
     * https://bugzilla.mozilla.org/show_bug.cgi?id=1098151#c18
     */
    [contenteditable]:empty::after {
      content: "\feff ";
    }
  }

  /**
   * Styles for narrow holder
   */
  &--narrow &__redactor {
    @media (--not-mobile) {
      margin-right: var(--narrow-mode-right-padding);
    }
  }

  &--narrow&--rtl &__redactor {
    @media (--not-mobile) {
      margin-left: var(--narrow-mode-right-padding);
      margin-right: 0;
    }
  }

  &--narrow .ce-toolbar__actions {
    @media (--not-mobile) {
      right: -5px;
    }
  }

  &__loader {
    position: relative;
    height: 30vh;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 30px;
      height: 30px;
      margin-top: -15px;
      margin-left: -15px;
      border-radius: 50%;
      border: 2px solid var(--color-gray-border);
      border-top-color: transparent;
      box-sizing: border-box;
      animation: editor-loader-spin 800ms infinite linear;
      will-change: transform;
    }
  }

  &-copyable {
    position: absolute;
    height: 1px;
    width: 1px;
    top: -400%;
    opacity: 0.001;
  }

  &-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    pointer-events: none;
    overflow: hidden;

    &__container {
      position: relative;
      pointer-events: auto;
      z-index: 0;
    }

    &__rectangle {
       position: absolute;
       pointer-events: none;
       background-color: rgba(46, 170, 220, 0.2);
       border: 1px solid transparent;
    }
  }

  svg {
    /* fill: currentColor; */
    vertical-align: middle;
    max-height: 100%;
  }
}

/**
 * Set color for native selection
 */
::selection{
  background-color: var(--inlineSelectionColor);
}

.codex-editor--toolbox-opened [contentEditable=true][data-placeholder]:focus::before {
  opacity: 0 !important;
}

@keyframes editor-loader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
